<!DOCTYPE html>
<html>
<head>
    <title>Juxtaposition</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="{{template}}">
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="text-center font-italic">
                {{> header}}
            </div>
            <div class="card-body p-5">
                {{{body}}}
            </div>
            <div class="text-center font-italic">
                {{> footer}}
            </div>
        </div>
    </div>
</body>
</html>
