<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form class="text-center border border-light p-0" action="#!">
        <p class="h4 mb-4">Create Post</p>

        <textArea class="form-control" style="min-width: 100%; height: 300px;"></textArea>

        <!-- Log in button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>

    </form>
</body>
</html>
