<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <!-- Default form register -->
    <form class="text-center border border-light p-5" method="post">

        <p class="h4 mb-4">Log In</p>

        <!-- E-mail -->
        <input name="email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

        <!-- Password -->
        <input name="password" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

        <!-- Log in button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Log In</button>

        <em><a href="/register">Create an account</a></em>
        <p style="margin-top: 20px;">
            <em><a href="/">Back to Juxtaposition</a></em>
        </p>

    </form>
</body>
</html>
